* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}


/* container specific */

.w-1350 {
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
    /* degub-space */
    margin-top: 16px;
}

.d-none {
    display: none;
}


/* SECTION ONE NAVBAR */

.navbar .container .col-lg-8 ul li {
    display: inline-block;
    padding-right: 30px;
    font-size: 16px;
}

.navbar .container .col-lg-8 ul li:nth-child(8),
.navbar .container .col-lg-8 ul li:nth-child(9) {
    border-right: 2px solid black;
    padding-right: 11px;
    margin-right: 10px;
}

.helbiz-header-logo {
    margin: auto;
    display: block;
    height: 30px;
}


/* header special media */

@media screen and (max-width:1245px) {
    .w-100 {
        width: 100%;
    }
}

@media screen and (min-width:1246px) {
    .col-lg-8.offset-lg-2 {
        display: block;
    }
}


/* <!--SECTION TWO - JUMBOTRON HEADER --> */

.jumbo-container-header {
    margin-top: 30px;
    height: 550px;
    background-image: url('../img-helbiz/img/hero-bg.jpg');
    background-size: cover;
    position: relative;
}

.text-jumbotron-header {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-jumbotron-header h1 {
    font-size: 50px;
}

.text-jumbotron-header h1,
.text-jumbotron-header h4,
.text-jumbotron-header img {
    margin-top: 20px;
}


/* <!--SECTION THREE - SCOOTER SECTION --> */

.section-two-scooter {
    text-align: center;
    margin-bottom: 30px;
}

.section-two-scooter h2 {
    margin-top: 20px;
}

.section-two-scooter a {
    display: block;
    color: rgb(29, 104, 202);
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
}

.section-two-scooter img {
    max-width: 300px;
    margin-top: 30px;
}


/* <!-- SECTION FOUR - JAMBOTRON --> */

.section-four-jambotron-container {
    height: 550px;
    background-image: url('../img-helbiz/img/helbiz-banner.jpg');
    background-position: 30%;
    background-size: cover;
    margin-bottom: 200px;
}

.col-left,
.col-right {
    margin-top: 650px;
}

.col-left {
    text-align: right;
}

.iphone {
    max-width: 400px;
    margin-top: 280px;
}


/* colonna iphone display block */

@media screen and (min-width:991px) {
    .col-lg-4.d-none {
        display: block;
    }
}


/* <!-- SECTION FIVE - SMART MOBILITY --> */

.section-five-container {
    height: 500px;
    max-width: 1400px;
    background-image: url('../img-helbiz/img/scooter-bg.jpg');
    margin: 350px auto 50px;
    background-size: cover;
    color: white;
    text-align: center;
}

.section-five-container h1:nth-child(1) {
    font-size: 35px;
    margin-top: 100px;
}

.col-xs-12.col-md-3 h1:nth-child(2) {
    margin-bottom: 15px;
    font-size: 35px;
}

.section-five-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.section-five-container a {
    display: block;
    color: white;
    font-size: 20px;
}


/* background-image xs media queries */

@media screen and (max-width:1063px) {
    .scale-down {
        font-size: 45px;
        color: red;
        opacity: 0.7;
    }
}


/* <!-- SECTION SIX - DOUBLE IMG --> */

.section-six-container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.section-six-container .container {
    width: 100%;
}

.gray-background {
    background-color: grey;
    position: relative;
}

.h-450 {
    height: 450px;
    padding: 0 20px;
    text-align: center;
}

.h-450 h1,
.h-450 h2 {
    margin: 10px 0 10px 0;
    color: white;
}

.florence {
    background-image: url(../img-helbiz/img/cities.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.helbiz-app {
    max-width: 450px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* <!-- SECTION SEVEN - BANNER --> */

.section-seven-container {
    margin-top: 50px;
    height: 450px;
    background-image: url('../img-helbiz/img/social-banner.jpg');
    position: relative;
    text-align: center;
}

.section-seven-central-box {
    height: 197px;
    width: 450px;
    max-width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.section-seven-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-seven-text-container span {
    display: inline-block;
    margin: 0 10px;
    font-size: 33px;
}