* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}


/* container specific */

.w-1350 {
    width: 1350px;
    background-color: green;
    max-width: 100%;
    margin: 0 auto;
    /* degub-space */
    margin-top: 16px;
}

.box {
    background-color: hotpink;
}

.d-none {
    display: none;
}


/* SECTION ONE NAVBAR */

.navbar .container .col-lg-8 ul li {
    display: inline-block;
    padding-right: 30px;
    font-size: 16px;
}

.navbar .container .col-lg-8 ul li:nth-child(8),
.navbar .container .col-lg-8 ul li:nth-child(9) {
    border-right: 2px solid black;
    padding-right: 11px;
    margin-right: 10px;
}

.helbiz-header-logo {
    margin: auto;
    display: block;
    height: 30px;
}


/* header special media */

@media screen and (max-width:1245px) {
    .w-100 {
        width: 100%;
    }
}

@media screen and (min-width:1246px) {
    .col-lg-8.offset-lg-2 {
        display: block;
    }
}


/* <!--SECTION TWO - JUMBOTRON HEADER --> */

.jumbo-container-header {
    margin-top: 30px;
    height: 550px;
    background-image: url('../img-helbiz/img/hero-bg.jpg');
    background-size: cover;
    position: relative;
}

.text-jumbotron-header {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-jumbotron-header h1 {
    font-size: 50px;
}

.text-jumbotron-header h1,
.text-jumbotron-header h4,
.text-jumbotron-header img {
    margin-top: 20px;
}


/* <!--SECTION THREE - SCOOTER SECTION --> */

.section-two-scooter {
    text-align: center;
    margin-bottom: 30px;
}

.section-two-scooter h2 {
    margin-top: 20px;
}

.section-two-scooter a {
    display: block;
    color: rgb(29, 104, 202);
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
}

.section-two-scooter img {
    max-width: 300px;
    margin-top: 30px;
}


/* <!-- SECTION FOUR - JAMBOTRON --> */

.section-four-jambotron-container {
    height: 550px;
    background-image: url('../img-helbiz/img/helbiz-banner.jpg');
    background-position: 30%;
    background-size: cover;
    margin-bottom: 200px;
}

.col-left,
.col-right {
    margin-top: 650px;
}

.col-left {
    text-align: right;
}

.iphone {
    max-width: 400px;
    margin-top: 280px;
}


/* colonna iphone display block */

@media screen and (min-width:991px) {
    .col-lg-4.d-none {
        display: block;
    }
}