* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    line-height: 30px;
}


/* container specific */

.w-1350 {
    width: 1350px;
    background-color: green;
    max-width: 100%;
    margin: 0 auto;
    /* degub-space */
    margin-top: 16px;
}

.box {
    background-color: hotpink;
}

.d-none {
    display: none;
}


/* SECTION ONE NAVBAR */

.navbar .container .col-lg-8 ul li {
    display: inline-block;
    padding-right: 30px;
    font-size: 16px;
}

.navbar .container .col-lg-8 ul li:nth-child(8),
.navbar .container .col-lg-8 ul li:nth-child(9) {
    border-right: 2px solid black;
    padding-right: 11px;
    margin-right: 10px;
}

.helbiz-header-logo {
    margin: auto;
    display: block;
    height: 30px;
}


/* header special media */

@media screen and (max-width:1245px) {
    .w-100 {
        width: 100%;
    }
}

@media screen and (min-width:1246px) {
    .col-lg-8.offset-lg-2 {
        display: block;
    }
}


/* <!-- JUMBOTRON HEADER --> */

.jumbo-container-header {
    margin-top: 30px;
    height: 550px;
    background-image: url('../img-helbiz/img/hero-bg.jpg');
    background-size: cover;
    position: relative;
}

.text-jumbotron-header {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}